<!DOCTYPE html>
<html>
<head>

<title>Digital Health AI</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="home-body">

<div class="container home-container">

<h1 class="home-title">
<i class="fa-solid fa-brain"></i>
Digital Health AI System
</h1>

<p class="home-text">

Understand your digital lifestyle and its impact on your mental well-being.  
This system uses Machine Learning to analyze digital behavior patterns and
predict a Digital Addiction Score along with potential Health Risk.

By evaluating factors like screen time, social media usage, sleep patterns,
and stress indicators, the system provides insights that help users maintain
a healthier and more balanced digital life.

</p>

<div class="buttons">

<a href="/login" class="btn main-btn">
<i class="fa-solid fa-right-to-bracket"></i> Login
</a>

<a href="/signup" class="btn secondary-btn">
<i class="fa-solid fa-user-plus"></i> Sign Up
</a>

</div>

</div>

</body>
</html>